.experienceWrapper{
    width: 100%;
    background-color: aquamarine;
}

.skills-section {
    padding: 3rem 0;
    background: #262626;
    color: #e6e6e6;
}

.skills-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section h2 {
    color: #e6e6e6;
    letter-spacing: 0.2rem;
    font-weight: bold;
    margin-left: 1rem;
    font-size: 70px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.prev, .next{
    display: flex;
    align-items: center;
    padding: 20px;
}
.arrow{
    font-size: 33px;
}

.skills-wrapper{
    width: 1200px;
    overflow: hidden;
}

.skills-divs {
    display: flex;
    width: 10000px;
    transition: 1.5s ease;
    padding: 0 30px;
}

.slider{
    display: flex;
}
.skills-section .container h3 {
    margin-left: 1rem;
}

.skills-card {
    background: #1a1a1a;
    color: #e6e6e6;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    border-radius: 16px;
    margin: 16px 8px;
    transform: scale(0.98);
}

.skills-card:hover{
    transform: scale(1);
}

.skills-card img {
    height: 11rem;
    width: 11rem;
    margin-bottom: 1rem;
}
