.footer {
  height: 300px;
  background-color: black;
}

@media screen and (min-width: 1260px) {
  .footer {
    position: sticky;
    top: 0;
    z-index: 4;
    height: 100vh;
  }
}

.msg {
  color: white;
  font-size: 12px;
  padding-top: 60px;
  text-align: center;
}

.linkedIn {
  height: 30px;
  width: 30px;
  background-color: white;
}

.soon {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}
